<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="POST" th:action="@{/addBook}" id="book">
    <label for="name">Provide a name</label>
    <input type="text" name="name"/><br/>

    <label for="description">Provide a description</label>
    <input type="text" name="description"/><br/>

    <input type="submit" value="click here to add new book">
</form>
---------<br/>
<a th:href = "@{addBook}"><button>Add book</button></a>
<a th:href = "@{users}"><button>Show users</button></a>
<a th:href = "@{home}"><button>Homepage</button></a>
</body>
</html>