<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    ...
</head>
<body>
<div>
    <div>
        <div th:each="book :${books}">
            <a th:text="${book.id}"></a>:::
            <a th:text="${book.name}"></a>:::
            <a th:text="${book.description}"></a>
        </div>
    </div>
</div>
---------<br/>
<a th:href = "@{addBook}"><button>Add book</button></a>
<a th:href = "@{users}"><button>Show users</button></a>
<a th:href = "@{home}"><button>Homepage</button></a>
</body>
</html>