<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:each="user :${users}">
    <a th:text="${user.id}"></a>:::
    <a th:text="${user.username}"></a>:::
    <a th:text="${user.password}"></a>
</div>
---------<br/>
<a th:href = "@{addBook}"><button>Add book</button></a>
<a th:href = "@{books}"><button>Show books</button></a>
<a th:href = "@{home}"><button>Homepage</button></a>
</body>
</html>